/* Register Page Styles */
/* Toàn bộ nền của trang sẽ là màu gradient xanh */
body {
  background: linear-gradient(135deg, #74ebd5 0%, #acb6e5 100%);
  min-height: 100vh; /* cao bằng toàn màn hình */
}
